.row.flex-xl-nowrap
  .col-md-3.col-xl-2.bd-sidebar
    .appName
      COVID-19 Trends
    .infoTile#covid19-info-tile
      = create_info_tile(Globals.get(:area_id))
    %nav#covid19-area-buttons-container.collapse.bd-links
      = create_area_buttons(1)
  .col-md-9.col-xl-8.py-md-3.pl-md-5.bd-content
    #covid19-chart-container.covid19-chart-container
      = create_cases_chart('covid-19-chart',Globals.get(:area_id))
