@import "~bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/variables";
@import "daterangepicker";

.flex-item {
  margin: 10px;
  width: 100%;
}

.flex-row, html, body {
  height: 100%;
  margin: 0;
}

.flex-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}
.flex-column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.flex-list {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
  margin: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.appName {
  font-size: 30px;
  font-weight: 600;
  line-height: 24px;
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.infoTile {
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.infoTile .title {
  color: #767676;
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 13px;
  text-transform: uppercase;
}

.infoTile .confirmed {
  font-size: 32px;
  color: #DE3700;
  font-weight: bold;
  line-height: 40px;
}

.legend {
  display: grid;
  padding: 20px 0;
  grid-template-columns: 8px auto auto auto auto auto auto;
  align-items: center;
  grid-gap: 16px 8px;
  font-size: 13px;
  line-height: 20px;
}

.legend .color {
  width: 8px;
  height: 8px;
  border-radius: 8px;
}

.legend .total {
  color: #767676;
  text-align: right;
}

nav#covid19-selected-buttons{
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

div#covid19-select-by-query{
  margin-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
}

